<!-- DMYTRO SERHIIENKO  -->
<section class="artists-section" id="artists">
  <div class="container">
    <div class="artists-header">
      <p class="artists-label">Artists</p>
      <h2 class="artists-title">Explore Your New Favorite Artists</h2>
    </div>

    <ul id="artists-list" class="artists-grid"></ul>

    <div class="load-more-wrapper">
      <button id="load-more" class="btn-load-more">
        Load More
        <svg class="icon__down-arrow" width="14" height="14">
          <use href="./img/icons.svg#icon_artists_down"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<!-- DMYTRO SERHIIENKO  -->
