<header class="header">
  <div class="container header__container">
    <!-- Logo -->
    <a href="#home" class="header__logo">
      <img
        src="./img/logo-header.webp"
        alt="ArtistsHub logo"
        class="header__logo-img"
      />
    </a>

    <!-- Navigation -->
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li><a href="#artists" class="header__nav-link">Artists</a></li>
        <li><a href="#about-us" class="header__nav-link">About Us</a></li>
        <li><a href="#reviews" class="header__nav-link">Reviews</a></li>
      </ul>
    </nav>

    <!-- Burger -->
    <button
      type="button"
      class="header__burger"
      aria-label="Open menu"
      data-menu-open
    >
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>


