<div class="mobile-menu" data-menu>
  <div class="mobile-menu__header">
    <a href="#home" class="mobile-menu__logo">
      <img
        src="./img/logo-header.webp"
        alt="ArtistsHub logo"
        class="mobile-menu__logo-img"
      />
    </a>

    <button
      type="button"
      class="mobile-menu__close"
      aria-label="Close menu"
      data-menu-close
    >
      ✕
    </button>
  </div>

  <nav class="mobile-menu__nav">
    <ul class="mobile-menu__list">
      <li><a href="#artists" class="mobile-menu__link">Artists</a></li>
      <li><a href="#about-us" class="mobile-menu__link">About Us</a></li>
      <li><a href="#reviews" class="mobile-menu__link">Reviews</a></li>
    </ul>
  </nav>
</div>