.feedback {
  padding: 64px 0;
  background: #060307;
  color: #fff;
  text-align: center;
}

.feedback .swiper {
  position: relative;
  width: 100%;
}

.feedback .swiper-wrapper {
  display: flex;
}

.item-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.stars-rating-feedback {
  margin-bottom: 32px;
}

.text-feedback {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 32px;
  line-height: 1.4;
}

.text-name-feedback {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}

.feedback-pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 8px;
}

.pagination-start,
.pagination-middle,
.pagination-end {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}

.swiper-pagination-bullet-active {
  background: #764191;
}

@media screen and (min-width: 768px) {
  .feedback {
    padding: 64px 0;
  }
  .text-feedback {
    font-size: 26px;
  }
}

@media screen and (min-width: 1440px) {
  .feedback {
    padding: 112px 0;
  }
  .text-feedback {
    font-size: 32px;
  }
}
