.feedback-section {
  background-color: #000; 
  color: #fff;
  padding: 60px 0;
}
/* Прихований заголовок для секції */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.stars-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}


.feedback-btn {
  border-radius: 12px;
  padding: 10px 24px;
  width: 288px;
  height: 47px;
  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #764191;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin-top: 16px;
  padding: 10px 78px;
  text-align: center;
}
.star {
  font-size: 24px;
  color: #ffffff; /* Порожня зірка (біла) */
}

.star.filled {
  color: #7e57c2; /* Заповнена зірка (фіолетова) */
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  bottom: 20px !important;
}

/* Базовий стиль точки */
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.2); /* Неактивний колір */
  opacity: 1;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 50%;
  cursor: pointer;
}

/* Акцентний стиль для активної точки */
.swiper-pagination-bullet-active {
  background-color: #ffffff !important; /* Білий або твій фіолетовий */
  transform: scale(1.2);
}

/* Ховер для зручності */
.swiper-pagination-bullet:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 768px) {
  .feedback {
    padding: 64px 0;
  }
  .text-feedback {
    font-size: 26px;
  }
  .feedback-btn {
    border-radius: 12px;
    padding: 10px 24px;
    width: 158px;
    height: 47px;
    margin-top: 16px;
    padding: 10px 14px;
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  .feedback {
    padding: 112px 0;
  }
  .text-feedback {
    font-size: 32px;
  }
  .feedback-btn {
    border-radius: 12px;
    padding: 10px 24px;
    width: 177px;
    height: 47px;
    margin-top: 80px;
    padding: 10px 24px;
    text-align: center;
  }
  .feedback-btn :hover {
    box-shadow:
      0 1px 2px 0 rgba(6, 3, 7, 0.05),
      inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
      inset 0 0 0 1px rgba(6, 3, 7, 0.15),
      inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
      inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #764191;
    opacity: 0.6;
  }
}




