.item-feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-feedback{
font-weight: 700;
font-size: 32px;
line-height: 1.3;
letter-spacing: -0.01em;
text-align: center;
color: #fff;
margin-top: 32px;
}

.text-name-feedback{
font-weight: 600;
font-size: 18px;
line-height: 1.5;
color: #fff;
margin-top: 32px;
margin-bottom: 16px;
}


@media screen and (min-width:768px){
.text-feedback{
    font-size: 26px;
    line-height: 1.4;
}
}

@media screen and (min-width:1440px){
.text-feedback{
font-size: 32px;

}

.text-name-feedback{
margin-bottom: 75px;
}
}