.mobile-menu {
  position: fixed;
  inset: 0;
  background-color: #000;
  transform: translateX(100%);
  transition: transform 300ms ease;
  z-index: 999;

  pointer-events: none; 
}

.mobile-menu.is-open {
  transform: translateX(0);
  pointer-events: auto; 
}

.mobile-menu__header {
  height: 64px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu__logo-img {
  width: 120px;
  height: 24px;
  object-fit: contain;
}

.mobile-menu__close {
  font-size: 24px;
  background: transparent;
  color: #fff;
}

.mobile-menu__nav {
  margin-top: 39px;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.mobile-menu__link {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
}